@model IEnumerable<mvcnew.Models.EMPDATA>
@{
    ViewBag.Title = "Empdate";
}

<h2>Empdate</h2>
@using (Html.BeginForm("EmpdateShow","databse"))
{
<table>

    <tr>
        
        <td>Start date:</td>
        <td>@Html.TextBox("txtstart", Request["txtstart"],new)</td>
        <td>End date:</td>
        <td>@Html.TextBox("txtend", Request["txtend"])</td>
    </tr>
    <tr>
        
        <td>Department no:</td>
        <td>@Html.DropDownList("ddldno", new SelectList(ViewBag.L, "Deptno", "Dname", ViewBag.dnum), "Select")</td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="SEARCH" /></td>
    </tr>
</table>
    if (Model != null)
    {
        <table>
            <tr>
                <td>Emp no</td>
                <td>Emp name</td>
                <td>job</td>
                <td>manager</td>
                <td>hiredate</td>
                <td>salary</td>
                <td>commission</td>
                <td>dept no</td>
            </tr>
            @foreach (var E in Model)
            {
                <tr>
                    <td>@E.EMPNO</td>
                    <td>@E.ENAME</td>
                    <td>@E.JOB</td>
                    <td>@E.MGR</td>
                    <td>@E.HIREDATE</td>
                    <td>@E.SAL</td>
                    <td>@E.COMM</td>
                    <td>@E.DEPTNO</td>
                </tr>
            }
        </table>
    }
}


